// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/cards";


.list {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #272838;
  width: 140px;
  border-radius: 5px;
}
